<!doctype html>
<html lang="en">
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

<title>Error - Eagle.cool Server</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Eagle.cool Server Error</h1>
    <p> Unable to connect to Eagle Server or something wrong in the backend. Please make sure your Eagle application is opened.</p>
    <p><b>Keep in Mind:</b> Eagle API is really unstable, things like encountering errors are really frequent. </p>
    <p><b>Details: </b></p>
    <pre>
{{error}}
</pre>
  {% endblock %}
  {% block scripts %}
  {{ bootstrap.load_js() }}
  {% endblock %}

</html>