<!doctype html>
<html lang="en">
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
{{ bootstrap.load_css() }}
{% endblock %}

<title>Eagle.cool Server</title>
{% endblock %}

<body>
  {% block content %}
  <div class="container">
    <h1>Eagle.cool Server</h1>
    {% block nav %}
      {% for item in list %}
      <a href="{{ '/folders/' + item.id }}">{{ item.name }}</a><br/>
      {% endfor %}
    {% endblock %}
  </div>
  {% endblock %}
</body>

</html>